/* COMEÇA O ESTILO DE INDEX */
.head {
    margin: 30px 0;
}

.head img {
    margin-bottom: 10px;
}

.find-movie {
    margin-bottom: 50px;
}

.find-movie img {
    width: 36px;
    margin-right: 17px;
}

/* MOVIE STYLE */
.movie-title {
    margin-bottom: 20px;
}

.movie-poster img {
    width: 170px;
}

.movie,
.find-movie {
    transition: all 0.5s;
}

.erro {
    display: flex;
    align-items: center;
}

/* COMEÇA O ESTILO DE FAVORITES */
/* CABEÇALHO */
header img {
    display: none;
}

.search-bar {
    display: flex;
}

/* MENU LATERAL */
li .material-symbols-outlined {
    display: block;
}

.main,
.open-list {
    padding: 16px;
}

/* MAIN */
.no-movies {
    text-align: center;
    margin-top: 64px;
}

.movie-info {
    padding: 16px;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(15, 15, 15, 1) 50%);
}

.synopsis {
    display: none;
}

/* LISTAS */
.list {
    display: flex;
    flex-wrap: wrap;
}