/* COMEÇA O ESTILO DE INDEX */
.container {
    text-align: center;
    margin: 50px auto 0;
    padding: 0 8px;
}

.head {
    margin: 30px 0;
}

.head img {
    margin-bottom: 10px;
}

.find-movie {
    margin-bottom: 50px;
}

.button {
    margin: 30px auto 26px;
    background-color: #E9E6E3;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 14px 17px 16px;
    color: #000000;
    cursor: pointer;
}

.find-movie img {
    width: 36px;
    margin-right: 17px;
}

/* MOVIE STYLE */
.movie-title {
    margin-bottom: 20px;
}

.movie-poster img {
    width: 170px;
}

.movie, .find-movie {
    transition: all 0.5s;
}

.erro {
    display: flex;
    align-items: center;
}

/* COMEÇA O ESTILO DE FAVORITES */
/* CABEÇALHO */
header {
    height: 56px;
    width: 100vw;
    position: fixed;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

header img {
    display: block;
}

.search-bar {
    display: flex;
}

.search-box {
    width: 75vw;
    height: 40px;
    border-radius: 25px 0 0 25px;
    padding-left: 16px;
    background-color: #0f0f0f;
    border: 1px solid #303030;
    color: #fff;
    font-size: 16px;
    z-index: 2;
}

.search-button {
    border: 1px solid #303030;
    background-color: #222222;
    height: 40px;
    width: 60px;
    border-radius: 0 25px 25px 0;
    z-index: 1;
    background-image: url("../icons/search_FILL0_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
}

/* MENU LATERAL */
aside {
    position: fixed;
    bottom: 0;
    height: 56px;
    width: 100vw;
    background-color: #0f0f0f;
}

aside ul, .buttonList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.material-symbols-outlined {
    display: block;
}

.main, .open-list {
    padding: 16px;
}

ul {
    color: #fff;
    font-size: 10px
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
}

li:hover {
    background-color: #222222;
}

.active{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* MAIN */
.favorites-container {
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 350px;
    color: #fff;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(15,15,15,0.9) 75%, rgba(15,15,15,1) 100%), url(https://scontent.fsdu6-1.fna.fbcdn.net/v/t1.6435-9/55485863_10157472280527275_7877149838259781632_n.jpg?stp=dst-jpg_p960x960&_nc_cat=111&ccb=1-7&_nc_sid=36a2c1&_nc_ohc=MzgRxN3Y6EgAX-cMCof&_nc_ht=scontent.fsdu6-1.fna&oh=00_AfC_g6tUeki05TlQdqfXGGaDv0egkTUnr0W_0CJfRZG-yg&oe=63D1AF51);
    background-position: center;
    background-size: cover;
}

.genre {
    display: flex;
    margin: 8px 0;
}

.genre p {
    padding-right: 8px;
}

.synopsis {
    display: none;
}

/* LISTAS */
.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    width: 190px;
    height: 290px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-image: url(https://img.elo7.com.br/product/zoom/26FCC69/poster-filme-vingadores-ultimato-avenger-endgame-cinema.jpg);
    background-size: cover;
}